# R-specific

.Rhistory

.RData

.Rproj.user/

.Ruserdata

# Snakemake logs and output

*.snakemake.log

*.log

*.err

*.out

*.snakemake.*

.snakemake/

logs/

log/

output/

results/



# Temp and output files

*.log

*.tmp

*.rds

*.rda

*.bak

*.out

*.vcf.gz

*.tbi

*.tbi

*.bam

*.bai

*.sh

.DS_Store

nohup.out

__pycache__/

data/output/

